
html {
    scroll-behavior: smooth;
}

.target {
    display: flex;
}

.target > img {
    width: 200px;
    height: 200px;
}

.menu {
    width: 300px;
    text-align: center;
    border: 2px solid grey;
}

.image {
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: space-between;
}

.list1 {
    display: flex;
}

.list2 {
    display: flex;
}

.list3 {
    display: flex;
    align-items: center;
}

.list3 > p {
    padding: 10px;
}

.list3 > img {
    height: 300px;
}