
* {
    margin: 0;
}

div {
    background-color: orange;
    width: 400px;
    margin-bottom: 10px;

}

img {
    width: 100%;
}

h1 {
    width: 100%;
    text-align: justify;
    font-size: 50px;
}

h3 {
    width: 100%;
    text-align: justify;
    color: red;
}

h4 {
    width: 100%;
    text-align: justify;
    color: blue;
}

