
* {
    margin: 0;
}

div {
    width: 400px;
    margin-bottom: 10px;
}

img {
    width: 100%;
}

h2 {
    width: 100%;
    text-align: justify;
}

.mars-class {
    background-color: orange;
}

.saturn-class {
    background-color: gold;
}